# Este archivo define qué archivos y carpetas NO deben incluirse
# cuando Docker construya imágenes (docker build).

**/.DS_Store
**/.dockerignore
**/.env
**/.env.*
**/.git
**/.gitignore
**/.idea
**/.vscode
**/docker-compose*
**/Dockerfile*
**/target
**/coverage
HELP.md
README.md
Makefile