# PostgreSQL
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=community_help_db
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
DB_SSL_MODE=disable

# API
API_PORT=8080

# JWT
JWT_SECRET=prodSuperSecretKeyForJWT1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ
JWT_EXPIRATION_MS=3600000
JWT_EXPIRED_IN=3600000

# Admin inicial
ADMIN_EMAIL=admin@tudominio.com
ADMIN_PASSWORD=your_admin_password

# OpenRouteService
OPENROUTE_API_KEY=your_openroute_api_key

# Email (Brevo SMTP)
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=your_brevo_smtp_user
MAIL_PASSWORD=your_brevo_smtp_password
MAIL_FROM=your_verified_sender@example.com

# Google OAuth2
OAUTH2_REDIRECT_URI=https://tudominio.com/login/oauth2/code/google
OAUTH2_CLIENT_ID=your_google_client_id
OAUTH2_CLIENT_SECRET=your_google_client_secret

# Frontend URLs
URL_FRONTEND=https://tudominio.com
URL_FRONTEND_LOGIN=https://tudominio.com/login
URL_FRONTEND_OAUTH2_SUCCESS=https://tudominio.com/oauth2/callback