# PostgreSQL (Docker)
POSTGRES_DB=community_help_db
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password

# Spring datasource (app)
SPRING_DATASOURCE_DB=community_help_db
SPRING_DATASOURCE_USERNAME=your_postgres_user
SPRING_DATASOURCE_PASSWORD=your_postgres_password

# JWT
JWT_SECRET=your_jwt_secret_minimum_32_characters_long
JWT_EXPIRATION_MS=86400000
JWT_EXPIRED_IN=86400000

# Admin inicial
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password

# OpenRoute Service API
OPENROUTE_API_KEY=your_openroute_api_key