# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp

# Logs
logs/
*.log

# Env files
.env
.env.dev
.env.prod
.env.*
!.env.dev.example
!.env.prod.example

# Java / Spring
target/
*.class
*.jar
*.war
*.ear

# Coverage / testing
coverage/

# Misc
.tmp/
.cache/