services:
  # PostgreSQL + PostGIS
  db:
    image: postgis/postgis:18-3.6
    container_name: postgres-db-community-help
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./docker/postgres-init.sql:/docker-entrypoint-initdb.d/init-postgis.sql

  # Adminer (sin cambios)
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8888:8080"
    depends_on:
      - db

  # TODO zookeper
  # TODO kafka
  # TODO app

volumes:
  postgres_data: